 <ion-view title="{{title}}">

	<ion-side-menus>
	    <ion-side-menu-content>
	    	<ion-header-bar class="bar-dark">
		        <h1 class="title">{{title}} {{chapter}}장</h1>
		    </ion-header-bar>
		    <ion-content>
				<ion-list id="bible-read">
					<ion-item ng-repeat="verb in content" class ="verse"> <div style="width : 20px">1</div>{{verb.verse}} </ion-item>
				</ion-list>
			</ion-content>
	    </ion-side-menu-content>
	    <ion-side-menu side="left">
	    	<ion-list>
	    		<ion-item>1234</ion-item>
	    		<ion-item>1234</ion-item>
	    		<ion-item>1234</ion-item>
	    		<ion-item>1234</ion-item>
	    	</ion-list>
	    	
	    </ion-side-menu>
    </ion-side-menus>

	
	
</ion-view>